# pip install -r requirements.txt
ffmpeg==1.4
ffmpeg-python==0.2.0
ffprobe==0.5
#libgl1-mesa-glx
libgl1
#opencv-python==4.7.0.68
opencv-python-headless==4.8.1.78
openvino==2024.2.0
openvino-telemetry==2024.1.0
pip==24.0
PyYAML==6.0
streamlit==1.17.0
torch
torchvision
tqdm==4.64.1
ultralytics==8.2.28
ultralytics-thop==0.2.7
utils==1.0.1
